<!-- File Upload Section -->
    <section id="upload" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Upload Your Photo</h2>
                <p>Use the button below to select a photo to upload</p>
                <p><input class="file-inputs" type="file" title="Search for a file to add"></p>
            </div>
        </div>
        <div id="preview-row" class="row" style="display:none;">
          <div class="col-lg-8 col-lg-offset-2">
                <h3>Preview</h3>
                <canvas id="preview" width="300" height="300"></canvas>
            </div>
        </div>
    </section>